<h1>Contact Baltimore Boats</h1>
<p>Questions about boats? Get in contact with us!</p>
<ul>
    <li>Phone: 555-555-5555</li>
    <li>Email: boats@baltimoreboats.com</li>
    <li>Address: 560 Boatsburg Ave.<br>Baltimore, MD 21224</li>
</ul>
