// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: darkgray;
}

h1, h2 {
    font-family: fantasy;
    font-size: 1.5em;
    color: black;
}
nav {
    background-color: darkgray;
}
.my-image {
    width: 100%;
}
footer {
    color: black;
    background-color: darkgray;
}